@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}


.tooltip-bubble::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}
  